.user-card {
	margin-top: -50px;
}
.avatar-user {
	border: 1px solid #777;
	border-radius: 50%;
}
.user-follower {
	display: flex;
	margin-top: 20px;
	& > a {
		text-decoration: none;
		color: black;
	}
}
.edit-profil {
	width: 350px;
	border-radius: 5px;
	border: 1px solid #777;
	font-weight: 500;
}
.user-name {
	font-size: 24px;
	color: #777;
}
.follow :hover {
	color: rgb(0, 85, 255);
}
